/* codice generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */
header{
    text-align: center;
    padding: 40px;
}

h1{
    padding-bottom: 30px;
}

.start_game{
    padding: 10px 20px;
}



/* MAIN */